<% layout ('layouts/boilerplate') %>

<div class="card m-auto w-75 mt-5">
  <h3 class="text-center mt-3">Edit Employee Info</h3>
  <form action="/team/<%=employee._id%>/edit?_method=PUT" method="POST" class="m-auto mt-5 w-50">
    <div class="mb-3">
      <label for="name" class="form-label">Employee Name</label>
      <input type="text" class="form-control" name="employee[name]" id="" aria-describedby="employeeName" value="<%=employee.name%>" />
    </div>
    <div class="mb-3 mt-4">
      <span class="">Select Employee's Position</span>
      <select class="form-select form-select-md mb-3 mt-2" aria-label=".form-select-md example" name="employee[position]">
        <option></option>
        <option>MFG Supervisor</option>
        <option>MFG Specialist</option>
        <option>MFG Senior</option>
        <option>MFG Associate IV</option>
        <option>MFG Associate III</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary mt-4 mb-4 offset-1 w-75">Update</button>
  </form>

  <form action="/team/<%=employee._id%>/edit?_method=DELETE" method="POST">
    <button type="submit" class="btn position-absolute top-0 end-0 btn mt-3 me-3">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
      </svg>
    </button>
  </form>
</div>
