<nav class="navbar navbar-expand-lg" style="background-color: #82bfff">
  <div class="container-fluid">
    <a class="navbar-brand text-white ms-3" href="/team">Team</a>
    <%- include ('../partials/newEmployee') %>
  </div>
</nav>
