<% layout('layouts/boilerplate') %>

<div class="card m-auto w-100 text-center mt-5">
  <div class="card-container mt-5 mb-5">
    <h3>Employee Name</h3>
    <p>Employee Position</p>

    <div class="current-actions mt-5">Current Action Items:</div>
  </div>
</div>
