<%- layout ('layouts/boilerplate') %>

<div class="container">
  <div class="text-center mt-3 fw-bold mt-5">Click the button and come meet the team!</div>
  <a href="/team" class="ms-5">
    <button class="btn btn-primary offset-4 w-25 mt-5">Meet the Team!</button>
  </a>
</div>
