<% layout('layouts/boilerplate') %>

<!-- <script src="../app.js" defer></script> -->
<link rel="stylesheet" href="../public/stylesheets/newUpdate.css" />

<br />
<div class="container">
  <div class="row mt-5">
    <% for (let employee of employees) { %>
    <div class="col-4 m-auto">
      <a href="/team/<%=employee._id%>" class="text-decoration-none">
        <button class="card card-btn mb-5 mt-5 w-100 d-flex d-inline-flex">
          <div class="container">
            <div class="mb-5 text-center">
              <h5 class="mt-2"><%= employee.name %></h5>
              <p class="mt-2 fs-9 fw-light"><%=employee.position%></p>
            </div>
          </div>
        </button>
      </a>
    </div>
    <% } %>
  </div>
</div>
