<% layout('layouts/boilerplate') %>

<!-- <script src="../app.js" defer></script> -->
<link rel="stylesheet" href="/stylesheets/newUpdate.css" />

<br />
<div class="container">
  <div class="row mt-5">
    <% let i= 0; for (let employee of employees) { %>
    <div class="card-container col-4 m-auto">
      <a href="/team/<%=employee._id%>" class="text-decoration-none">
        <% if(employee.newUpdate === true) { %>
          <button class="card mb-5 mt-5 w-100 d-flex d-inline-flex highlight">
            <% } else { %> 
          <button class="card mb-5 mt-5 w-100 d-flex d-inline-flex">
        <% } %> 
        <div class="container">
          <div class="mb-5 text-center">
            <h5 class="mt-2 fs-4"><%= employee.name %></h5>
            <p class="mt-2 fs-9 fw-light"><%=employee.position%></p>
          </div>
        </div>
      </button>
    </a>
    </div>
    <% i++; } %>
  </div>
</div>

<script>
  const windowSize = window.innerWidth;
  if (windowSize <= 958) {
    const cardContainers = document.getElementsByClassName("card-container");
    for (let card of cardContainers) {
      card.classList.remove("col-4");
    }
  }
</script>