<%- layout ('layouts/boilerplate') %>

<div class="container">
  <div class="text-center mt-5">It looks like you have must have strayed away from the pre-defined path.</div>
  <div class="text-center mt-3">Click the button below to come back to the party</div>
  <a href="/team" class="ms-5">
    <button class="btn btn-primary offset-4 w-25 mt-5">Party Time!</button>
  </a>
</div>
