<% layout ('layouts/boilerplate') %>

<div class="card m-auto w-75 mt-5">
  <h3 class="text-center mt-3"><%= item.title %></h3>
  <div class="w-75 offset-2">
    <span class="fw-bolder">Description:</span>
    <label for="desc" class="form-label"><%=item.desc%></label>
  </div>
</div>
